In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_excel("Book-Whatsapp.xlsx")
data=data.T.reset_index()
data.head()

,index,0,1,2,3,4,5,6,7,8,...,48,49,50,51,52,53,54,55,56,57
0,column,column,column,column,column,column,column,column,column,column,...,column,column,column,column,column,column,column,column,column,column
1,+1 (848) 242-6969,+1 (501) 417-3338,Edmond,Eustace,Eustace,Jeremiah,Shekar,Shekar,Liz,Shekar,...,+91 6281 770 074,Jere,+1 (321) 244-6870,Koushik,+234 701 015 6517,+1 (936) 280-5590,+1 (508) 452-9273,+1 (256) 649-9989,+234 701 015 6517,+1 (213) 577-0698
2,+233 20 387 7720,+212 663-640841,You,George,Jeremiah,Kevin,+1 (201) 232-6194,+1 (201) 204-6113,Shekar,+1 (201) 204-6113,...,+91 6302 210 169,Mutitu,+1 (331) 277-9701,+1 (213) 577-0698,+234 701 135 4547,+234 805 844 7630,+1 (612) 246-2617,+27 63 127 1087,+234 701 135 4547,+1 (325) 313-0374
3,+234 701 443 0719,+234 703 939 3199,Eustace,George,+1 (203) 953-8590,Liz,+1 (201) 238-8795,+1 (201) 297-1386,+1 (201) 232-6194,+1 (201) 238-8795,...,+91 70926 46781,+1 (216) 224-6294,+1 (415) 872-2041,+1 (214) 886-1117,+234 701 174 8413,+234 815 252 3145,+1 (716) 717-0243,+27 63 196 4127,+234 701 174 8413,+1 (508) 593-8151
4,+234 701 788 7699,+234 915 798 5963,Jayasree,George,+1 (226) 546-4832,Rushil,+1 (201) 560-3820,+1 (201) 423-3030,+1 (201) 238-8795,+1 (201) 423-3030,...,+91 70932 64337,+1 (219) 386-7007,+1 (469) 300-3061,+1 (224) 877-5566,+234 701 257 9411,+234 816 829 0262,+234 901 892 5336,+27 66 137 7656,+234 701 257 9411,+1 (541) 216-7463

In [4]:
df=pd.Series(data.values.ravel("C"))

In [5]:
df.shape

(69679,)

## Clean and transform the numbers

In [6]:
# Remove null values
df=df.dropna()
df.shape

(21702,)

In [7]:
data = []

for i in pd.Series.iteritems(df):
    i=str(i[1])
    i=re.sub(' ','',i)
    i=re.sub('[A-Za-z(-)-<>/]','',i)
#     i=int(i)
    if len(i) < 9:
        pass
    elif len(i) > 14:
        i= i[0:13]
    else:
        data.append(i)

In [8]:
len(data)

20507

In [9]:
# Remove all kenyan Numbers

pattern = re.compile("254[17]")
for i in data:
    if pattern.fullmatch(i,1,5):
        data.remove(i)
    else:
        pass
    
print(len(data))

19280

In [10]:
Clients = []

In [12]:

# Check numbers repeating more than 2 times add them to an array
from collections import Counter
from csv import writer

counts = dict(Counter(data))
for key, value in counts.items():
    if value > 2:
        with open('Numbers/Employers.csv', 'a') as f:
            wt=writer(f)
            wt.writerow(str(key))
            f.close()
    else:
        Clients.append(key)

In [13]:
len(Clients)

2736